* {
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color:rgb(220, 202, 188);
}

/* Style the header */
header {
  background-color:rgb(220, 202, 188);
  text-align: center;
  font-size: 35px;
  color: rgb(104,57,0);
  border-bottom: 3px solid rgb(104,57,0);
}

/* begin translate*/
.translate{
  text-align: left;
  font-size: small;
  display: flex;
  justify-content: end;
  width: 100%;
  margin: auto;
}
.translate ul{
  padding-left: 0;
  list-style: none;
}

.translate ul a{
  text-decoration: none;
}
.idioma{
  display: flex;
  align-items: center;
  gap: 5px;
  border: 1px solid rgb(220, 202, 188);
  position:relative;
  padding: 10px;
}
.idioma img{
  border-radius:50px;
  width:20px;
  height:20px;
}

.idiomas{
  position: absolute;
  top: 40px;
  display: flex;
  flex-direction: column;
  visibility: hidden;
}
.idiomas li{
  width: 100%;
}
.idiomas li a{
  display: block;
  padding: 5px;
  font-size: 10px;
}
.idiomas li a:hover{
  background-color: rgb(220, 202, 188);
  color:rgb(44, 37, 23);
}
.idiomas li a img{
  border-radius:50px;
  width:20px;
  height:20px;
}

#pais{
  color:rgb(44, 37, 23);
}

/* toggle-js*/
.toggle{
  visibility: visible;
}
/* fin translate*/
menu{
  background-color:rgb(220, 202, 188);
  font-size: x-large;
}

menu ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

menu ul li{
  display: inline;
  float: right;
  padding-right: 5px;
}

menu ul li a {
  display: block;
  padding: 5px 30px 5px 30px;
  background-color:rgb(220, 202, 188);
  border-left:0.5px rgb(44, 37, 23) solid;
  color: rgb(104,57,0);
  text-decoration: none;
}
menu ul li :hover{
  background-color: rgb(44, 37, 23);
  color: wheat;
}
#migapann{
  color: rgb(104,57,0);
 
}
#migapan{
  color: rgb(104,57,0);
  border-bottom: 1px solid rgb(104,57,0);
}

#separadorproductos{
  color: rgb(104,57,0);
  border-bottom: 5px solid rgb(104,57,0);
  padding: 80px;
  
}
#separadorproductoss{
  color: rgb(104,57,0);
  border-bottom: 5px solid rgb(104,57,0);
  padding-top: 10px;
}

/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 15%;
  height: 300px; /* only for demonstration, should be removed */
  background-color:rgb(220, 202, 188);
  padding: 200px 20px 20px 20px;
  font-size: large;

  
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}
nav ul li{
  padding: 7px;
  margin: 10px;
  border-bottom: 2px solid rgb(104,57,0);
  
}
nav ul li :hover{
  background-color: rgb(44, 37, 23);
  color: wheat;
  padding: 5px;
}
nav ul li a {
  text-decoration: none;
  font-size: large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(104,57,0);
  font-size: x-large;
  font-style: bold;
}

article {
  float: left;
  padding: 5px;
  width: 85%;
  background-color:rgb(220, 202, 188);
  font-size: large;
   /* only for demonstration, should be removed */
}

.seccion{
  padding-left: 50px;
}

#tituloseccion{
  color: rgb(104,57,0);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#imagenseccion{
  width: 400px;
  height: 400px;
  border-radius: 5%;
}
#textoseccion{
  text-align: justify; 
  padding: 80px 30px 100px 30px; 
  vertical-align:top;
  font-size: large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color : rgb(104,57,0);
}



/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}

.elaboración{
  margin: 0px 1000px 50px 500px;
}

/* Style the footer */
footer {
  background-color: rgb(22, 18, 12);
  padding: 10px;
  text-align: center;
  color: wheat;

}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  padding: 10px;
  color: wheat;
}
.grid-item a{
  text-decoration: none;
  color: wheat;
}
#correo{
  width: 30px;
  height: 30px;
  background-color: wheat;
  border-radius: 40%;
}

.productos table td{
  padding-bottom: 20px;
  color : rgb(104,57,0);
  font-style: oblique;
}
.productos img{
  width: 200px;
  height: 180px;
}



/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }

}